################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Exercise/.vs
/Exercise/build/
/Exercise/ProjectTree/bin/
/Exercise/SUtil/bin/
/Exercise/algorithm/bin/
Exercise/Exercise.xcworkspace/xcuserdata
Exercise/ProjectTree/ProjectTree.xcodeproj/xcuserdata
Exercise/ProjectTree/ProjectTree.xcodeproj/xcshareddata
Exercise/SUtil/SUtil.xcodeproj/xcuserdata
